.page {
  flex: 1 1 auto;
  //padding: 100px 30px 30px 30px;
  display: flex;
  min-width: 0;
  //// .page__side
  //&__side {
  //  flex: 0 0 300px;
  //  padding: 0px 20px 0px 0px;
  //}
  //// .page__item
  //&__item {
  //}
  //// .page__body
  //&__body {
  //  flex: 1 1 auto;
  //  min-width: 0;
  //}
}