:root{
  //bg-color
  --primary-bg-color: #fff5f6;
  --secondary-bg-color: #ffffff;
  --hero-bg-color: #ffb8ca;
  --mob-menu-bg-color: #e17992;
  --mob-menu-border: #e18298;
  // TEXT COLOR

  --primary-text-color: #000000;
  --secondary-text-color: #ffa5ba;
  --menu-text-color: #333;
  --lite-text-color: #ffffff;
  --underline-color: #e1e1e1;

}