:root{
  //bg-colors
  --primary-bg-color: #fff5f6;
  --secondary-bg-color: #ffffff;
  --hero-bg-color: #ffb8ca;
  --mob-menu-bg-color: #e17992;
  --mob-menu-border: #e18298;
  // text-colors
  --primary-text-color: #000000;
  --secondary-text-color: #ffa5ba;
  --menu-text-color: #333;
  --menu-line-color: #000000;
  --underline-color: #e1e1e1;
  //btn-colors
}

$to-mobile: 320px;
$mobile: 480px;
$to-tablet: 767px;
$tablet: 768px;
$to-desktop: 1279px;
$desktop: 1440px;