<div class='menu-mobile js-menu-container'>
  <button class='menu-mobile__close-btn js-close-menu' aria-label='menu close button'>
    <svg class='icon icon-menu' width='20' height='20'>
      <use xlink:href='./images/sprite.svg#icon-close-menu'></use>
    </svg>
  </button>
<!--  <ul class='menu-mobile__list'>-->
<!--    <li class='menu-mobile__item'>-->
<!--      <a href='#Modellen' class='menu-mobile__link' data-mobile-item data-link>Modellen</a>-->
  <ul class='menu-mobile__list'>
    <li class='menu__item'>
      <a href='#home' class='menu-mobile__link'>home</a>
    </li>
    <li class='menu-mobile__item'>
      <a href='#gallery' class='menu-mobile__link'>gallery</a>
    </li>
    <li class='menu-mobile__item'>
      <a href='#projects' class='menu-mobile__link'>projects</a>
    </li>
    <li class='menu-mobile__item'>
      <a href='#certificates' class='menu-mobile__link'>certificates</a>
    </li>
    <li class='menu-mobile__item'>
      <a href='#contacts' class='menu-mobile__link'>contacts</a>
    </li>
  </ul>
</div>