<section class='about'>
  <div class='container'>
    <div class='about__container'>
      <div class='about__images'></div>
      <div class='about__describ'>
        <h2 class='about__title'>about company</h2>
        <p class='about__content'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
          has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
          type
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.
        </p>
        <button type='button' class='about__btn'>read more
          <svg class='icon hero__icon' width='19' height='9'>
            <use xlink:href='./images/sprite.svg#icon-arrow-right'></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

</section>