<footer class='footer'>
  <div class='container footer__container'>
    <div class='footer__row'>
      <a href='#' class='footer__logo'>
        <include src='./partials/components/logo.html'></include>
      </a>
      <div class='footer__information'>
        <div class='f-info'>
          <h3 class='f-info__title'>Information</h3>
          <ul class='f-info__list'>
            <li class='f-info__item'>
              <a href='#home' class='f-info__link'>home</a>
            </li>
            <li class='f-info__item'>
              <a href='#gallery' class='f-info__link'>gallery</a>
            </li>
            <li class='f-info__item'>
              <a href='#projects' class='f-info__link'>projects</a>
            </li>
            <li class='f-info__item'>
              <a href='#certificates' class='f-info__link'>certificates</a>
            </li>
            <li class='f-info__item'>
              <a href='#contacts' class='f-info__link'>contacts</a>
            </li>

          </ul>
        </div>
        <div class='f-contacts'>
          <h3 class='f-contacts__title'></h3>
          <ul class='f-contacts__list'>
            <li class='f-contacts__item'>
              <svg class='footer__icon' width='11' height='16'>
                <use href='./images/icons/sprite.svg#icon-location'></use>
              </svg>
              <a class='f-contacts__link'>100000, Republic of Kazakhstan, Karaganda city, st. Television 10 </a>
            </li>
            <li class='f-contacts__item'>
              <svg class='footer__icon' width='17' height='16'>
                <use href='./images/icons/sprite.svg#icon-phone'></use>
              </svg>
              <a class='f-contacts__link' href='tel:+38(000)0000000'>+38 (000) 000 00 00</a>
            </li>
            <li class='f-contacts__item'>
              <svg class='footer__icon' width='16' height='11'>
                <use href='./images/icons/sprite.svg#icon-mail'></use>
              </svg>
              <a class='f-contacts__link' href='mailto:mail@gmail.com'>mail@gmail.com</a>
            </li>
          </ul>
        </div>
        <div class='f-social'>
          <h3 class='f-social'></h3>
          <ul class='f-social__list'>
            <li class='f-social__item'>
              <a class='f-social__link' href='' target='_blank' rel='noopener noreferer nofollow'>
                <svg class='footer__icon' width='10' height='19'>
                  <use href='./images/icons/sprite.svg#icon-facebook'></use>
                </svg>
              </a>
            </li>
            <li class='f-social__item'>
              <a class='f-social__link' href='' target='_blank' rel='noopener noreferer nofollow'>
                <svg class='footer__icon' width='22' height='17'>
                  <use href='./images/icons/sprite.svg#icon-twitter'></use>
                </svg>
              </a>
            </li>
            <li class='f-social__item'>
              <a class='f-social__link' href='' target='_blank' rel='noopener noreferer nofollow'>
                <svg class='footer__icon' width='20' height='20'>
                  <use href='./images/icons/sprite.svg#icon-linkedin'></use>
                </svg>
              </a>
            </li>
            <li class='f-social__item'>
              <a class='f-social__link' href='' target='_blank' rel='noopener noreferer nofollow'>
                <svg class='footer__icon' width='14' height='19'>
                  <use href='./images/icons/sprite.svg#icon-pinterest'></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='footer__row'>
      <p class='footer__copyright'>© 2019 Digital Project. All rights reserved.</p>
    </div>

  </div>
</footer>