<section class='hero'>
  <div class=' container hero__container'>
    <div class='hero__describ'>
      <h1 class='hero__title'>PROJECT<span>HOME</span></h1>
      <div class='hero__controls'>
        <button type='button'>
          <svg class='icon contacts__icon' width='24' height='24'>
            <use xlink:href='./images/sprite.svg#icon-arrow-right'></use>
          </svg>
        </button>
        <button type='button'>
          <svg class='icon contacts__icon' width='24' height='24'>
            <use xlink:href='./images/sprite.svg#icon-arrow-right'></use>
          </svg>
        </button>
      </div>
      <div class='hero__pagination'></div>

    </div>
    <div class='hero__swiper'>
      <div class='hero__gallery'>
        <div class='swiper-wrapper'></div>
      </div>

    </div>

  </div>
</section>