<section class='projects' id='projects'>
  <div class='container projects__container'>
    <h2 class='projects__title'>our projects</h2>
    <ul class='projects__list'>
      <li class='projects__item'>
        <img class='projects__img' src='./images/projects/image_1.jpg' alt='' width=''>
      </li>
      <li class='projects__item'>
        <img class='projects__img' src='./images/projects/image_2.jpg' alt='' width=''>
      </li>
      <li class='projects__item'>
        <img class='projects__img' src='./images/projects/image_3.jpg' alt='' width=''>
      </li>
      <li class='projects__item'>
        <img class='projects__img' src='./images/projects/image_4.jpg' alt='' width=''>
      </li>
      <li class='projects__item'>
        <img class='projects__img' src='./images/projects/image_5.jpg' alt='' width=''>
      </li>
    </ul>
    <button class='projects__btn' type='button'>all projects
      <svg class='icon projects__icon' width="24" height="24">
        <use xlink:href='./images/sprite.svg#icon-arrow-right'></use>
      </svg>
    </button>
  </div>
</section>