<section class='tasks'>
  <div class='container tasks__container'>
    <h2 class='tasks__title animate-tasks-title'>Our main tasks</h2>
    <ul class='tasks__list'>
      <li class='tasks__item animate-tasks-item-left'>
        <span class='tasks__position'>1</span>
        <p class='tasks__description'>Creating comfortable conditions and improving the quality of customer service</p>
      </li>
      <li class='tasks__item animate-tasks-item-right'>
        <span class='tasks__position'>2</span>
        <p class='tasks__description'>Constantly improve the quality of services provided by training staff, purchasing
          new equipment and increased advertising in the market</p>
      </li>
    </ul>
  </div>
</section>