.container {
  margin: 0 auto;
  padding: 0 15px;
  @include for-size(tablet) {
    max-width: var(--tablet);
    padding: 0 15px;
  }

  @include for-size(desktop) {
   max-width: var(--desktop);
    padding: 0 15px;
  }
}