.menu-mobile {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 119;
  top: 0;
  right: 0;
  background-color: rgba(96, 92, 92);
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(200%);
  transition: transform 300ms ease-in-out;

  &.is-open {
    transform: translateY(0);
  }

  &__close-btn {
    position: absolute;
    top: 27px;
    right: 18px;
    width: 27px;
    height: 27px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-menu {
      fill: #FFFFFF;
    }


  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__item {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 10px 21.5px;


    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &:hover,
    &:active {
      border-radius: 4px;
      background: #FFF;
      padding: 10px 21.5px;
      color: #606B74;

      .menu__link {
        color: #606B74;
      }
    }
  }

  &__link {
    color: #FFF;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(24 / 24);
    text-transform: capitalize;
  }

}


//.is-hidden {
//  opacity: 0;
//  pointer-events: none;
//}
