.header {
  width: 100%;
  padding-top: 29px;
  padding-bottom: 31px;
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    margin-left: auto;
  }
}