.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding-top: 29px;
  padding-bottom: 31px;
  transition: background-color 0.3s ease;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: none;
    @include for-size(tablet) {
      display: block;
      margin-left: auto;

    }
  }

  &__menu-mobile {
    display: block;
    @include for-size(tablet) {
      display: none;
    }
  }

  //mobile-menu btn only
  &__mobile-menu {
    background-color: inherit;

    @include for-size(tablet) {
      display: none;
    }
  }
}

.header.hidden {
  transform: translateY(-100%);
}