.hero {
  @include for-size(tablet) {
    padding-top: 104px;
  }


  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-size(tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }


  }

  &__describ {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: auto 0;
  }

  &__title {
    display: flex;
    color: #BDBDBD;
    font-family: TT Hoves, sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: calc(64 / 64); /* 100% */
    span {
      color: #333;
      font-style: normal;
      font-weight: 700;
    }

    @include for-size(tablet) {
      font-size: 50px;
      flex-direction: column;
      align-items: start;
    }
    @include for-size(desktop) {
      font-size: 64px;
    }


  }

  &__controls {
    display: none;
    @include for-size(tablet) {
      display: flex;
      align-items: center;
      margin-top: 90px;
    }

  }

  &__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 18px;
    background-color: inherit;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border: 1px solid #F2F2F2;
    fill: #333333;
  }

  &__control-btn:hover {

    background: #F9F9F9;

  }

  &__control-btn:not(:last-child) {
    margin-right: 23px;
  }

  &__pagination {
    display: none;
    @include for-size(tablet) {

      display: flex;
      align-items: center;
      color: var(--gray-4, #BDBDBD);
      font-family: TT Hoves, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: calc(24 / 24); /* 100% */
      margin-top: 94px;

      span {
        position: relative;
      }

      span:not(:last-child) {
        margin-right: 89px;
      }

      span:first-child::after {
        content: "";
        position: absolute;
        bottom: 50%;
        left: 179%;
        transform: translateY(50%) rotate(-45deg);
        width: 43.822px;
        height: 1px;
        background: #E0E0E0;
      }
    }
  }

  &__gallery {
    max-width: 320px;
    overflow: hidden;
    margin-top: 30px;
    @include for-size(tablet) {
      margin-top: 0;
      max-width: 480px;
    }
    @include for-size(desktop) {
      margin-top: 0;
      max-width: 770px;
    }
  }

  &__slide {
    position: relative;
  }

  &__slide-btn {
    width: 222px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--gray-1, #333);
    font-family: TT Hoves, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(12 / 12); /* 100% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 30px 50px;
    background-color: #FFF;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  &__slide-btn:hover {
    background-color: #ccc;
  }
}

.btn-prev:disabled, .btn-next:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}